* {
  box-sizing: border-box;
}

:root {
  --primary-color: #171100;
  --secondary-color: #5f5b53;
  --tertiary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ===== Common ===== */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  background-color: var(--primary-color);
}

.row {
  display: flex;
  align-items: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.direction {
  margin-top: 28px;
}

.direction span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
}

.direction span + span {
  margin-left: 6px;
}

.direction span:nth-child(2) {
  background-color: var(--tertiary-color);
}

/* ===== Header ===== */
.header {
  padding-top: 24px;
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -24px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.navbar {
  margin-left: auto;
}

.navbar li {
  display: inline-block;
}

.navbar .link {
  position: relative;
  display: inline-block;
  padding: 8px 21px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
}

.navbar .link:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.navbar .link::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.navbar .link:hover::after {
  content: "";
  position: absolute;
  left: 25px;
  bottom: 9px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--primary-color);
}

.header .action {
  margin-left: 49px;
}

.header .signup-btn {
  padding: 11px 41px;
  border-radius: 24.5px;
}

/* ===== Hero ===== */
.hero {
  background: #fffcf4;
  padding: 52px 0 65px;
}

.hero .body {
  display: flex;
}

.hero .media-wrapper {
  position: relative;
  width: 48%;
}

.hero .media-stats {
  position: absolute;
  bottom: 48px;
  right: -100px;
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
}

.hero .media-stats .row {
  gap: 16px;
}

.hero .media-stats .row + .row {
  margin-top: 14px;
}

.hero .media-icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hero .row .info p:first-child {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero .row .info p:last-child {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.hero .row:first-child .media-icon {
  background-color: #fff9e8;
}

.hero .row:nth-child(2) .media-icon {
  background-color: #fcefff;
}

.hero .row:last-child .media-icon {
  background-color: #ebeaff;
}

.hero-img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero .content-wrapper {
  padding: 64px 0 0 230px;
}

.hero .content-wrapper .heading {
  color: var(--primary-color);
  font-family: "Sen", sans-serif;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .content-wrapper .desc {
  margin-top: 22px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.hero .content-wrapper .action {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero .action .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
}

.hero .action .watch-icon {
  position: relative;
  top: 8px;
  cursor: pointer;
}

.hero .action .btn {
  padding: 16px 33px;
  font-size: 1.8rem;
  background-color: var(--tertiary-color);
  border-radius: 32px;
}

.hero .action .watch-cta {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.hero .content-wrapper .info {
  margin-top: 48px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.hero .content-wrapper .qty-info {
  margin-top: 8px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
  word-spacing: 8px;
}

.hero .qty-info strong {
  color: var(--primary-color);
  font-family: "Sen", sans-serif;
  font-size: 4.4rem;
  font-weight: 700;
}

/* ===== Courses ===== */
.courses {
  margin-top: 200px;
}

.courses .heading-content .title {
  color: var(--primary-color);
  font-family: "Sen", sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.courses .heading-content .desc {
  margin-top: 16px;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.courses .direction {
  margin-left: auto;
}

.courses .direction button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid var(--tertiary-color);
  border-radius: 50%;
  font-size: 1.8rem;
  color: var(--tertiary-color);
  cursor: pointer;
}

.courses .direction button:last-child {
  margin-left: 10px;
}

.courses .direction button:hover {
  color: #fff;
  background-color: var(--tertiary-color);
}

.courses .item {
  max-width: 370px;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.courses .item:hover {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #fff;
}

.courses .row:last-child {
  margin-top: 55px;
  gap: 30px;
}

.courses-info {
  padding: 16px 22px;
}

.courses-info .rate {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: auto;
}

.courses-info .rate .value {
  color: var(--tertiary-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.courses-img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.courses-name a {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.courses-desc {
  --line-clamp: 2;
  margin-top: 6px;
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  word-break: break-all;
}

.courses-info .row:last-child {
  margin-top: 12px;
}

.courses-price {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.courses-info .book-btn {
  padding: 12px 24px;
  border-radius: 25px;
  margin-left: auto;
}

.courses-info .book-btn:hover {
  background-color: var(--tertiary-color);
}

/* ===== Feedback ===== */
.feedback {
  margin-top: 200px;
  background: #2e2100;
  padding: 96px 0;
}

.feedback-person .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-person .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: "Sen", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  white-space: nowrap;
}

.feedback-person .majors {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  white-space: nowrap;
}

.feedback-content p {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53;
}

.feedback-content .icon {
  position: relative;
  left: -30px;
}

/* ===== Features ===== */
.features .row {
  gap: 130px;
  margin-top: 200px;
}

.features-img {
  display: flex;
}

.features-img img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features-img .img-full {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}

.features-img .img-right {
  position: relative;
  left: 30px;
  bottom: 33px;
}

.features-content {
  margin-left: auto;
}

.features-content .title {
  color: var(--primary-color);
  font-family: "Sen", sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.features-content .desc {
  margin-top: 16px;
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.features-content .btn {
  margin-top: 32px;
  padding: 11px 37px;
  background-color: var(--tertiary-color);
  border-radius: 26px;
}

/* ===== Blog ===== */
.blog {
  margin-top: 200px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .title {
  color: var(--primary-color);
  text-align: center;
  font-family: "Sen", sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.blog .sub-title {
  margin: 16px auto 0;
  width: 448px;
  color: var(--secondary-color);
  text-align: center;
  font-weight: 400;
  line-height: 1.75;
}

.blog .row {
  margin-top: 55px;
  gap: 30px;
}

.blog-item {
  width: 370px;
  border-radius: 16px;
  background: #fff;
}

.blog-item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-item-img {
  max-width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.blog-item-info {
  padding: 20px 20px 28px;
}

.blog-item-date {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.blog-item-date::before {
  content: "";
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
}

.blog-item-date::after {
  content: "";
  display: block;
  margin-top: 12px;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog-item-title {
  margin-top: 12px;
}

.blog-item-title a {
  --line-clamp: 2;
  color: var(--primary-color);
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.blog-item-info .btn {
  margin-top: 12px;
  padding: 12px 21px;
  border-radius: 25px;
}

.blog-item-info .btn:hover {
  background-color: var(--tertiary-color);
}

.blog .direction {
  text-align: center;
  margin-top: 38px;
}

/* ===== Footer ===== */
.footer {
  padding: 96px 0 28px;
  background: #2e2100;
}

.footer .row {
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #59554b;
  padding-bottom: 38px;
}

.footer-item .title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer-item .title::after {
  content: "";
  display: block;
  margin-top: 14px;
  width: 130px;
  height: 1px;
  background: #59554b;
}

.footer-item .desc,
.footer-item ul li,
.footer-item ul a {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.footer-item:first-child {
  width: 267px;
}

.footer-item:last-child {
  width: 231px;
}

.footer-item .logo {
  color: #fff;
  font-family: "Sen", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.footer-item .logo span {
  color: var(--tertiary-color);
}

.footer-item .desc {
  margin: 18px 0;
}

.footer-item .social-icon a {
  color: #fff;
}

.footer-item .social-icon a + a {
  margin-left: 15px;
}

.footer-item ul {
  margin-top: 28px;
}

.footer-item ul li + li {
  margin-top: 12px;
}

.footer li b {
  color: #fff;
  font-weight: 600;
}

.copyright {
  margin-top: 28px;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
